@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100&display=swap');

* {
 
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    text-decoration: none;
    color: black;
}

a:active {
    color: black;
}

.logo {
    margin-top: 8px;
    float: left;
    height: 0;
    margin-left: 2%;

}

.redes-sociais ul li {
    display: inline-block;
    width: 1%;
    padding: 30px;
    float: right;
}
main{
    
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
}
header{
    width: 100vw;
    height: 15%;
    margin-top:-1.5%;
}
.menu-1 {
    width: 100%;
    height: 50%;
    background-color: black;
    height: 100px;
}
body {
    width: 100%;
    height: 100%;
    background: rgb(245, 255, 53);
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}

.container {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.form {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding: 3rem;
    border-radius: 20px;
    box-shadow: 0px 10px 40px white;
}

.form-header {
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
    color: white;
}

.login-button {
    display: flex;
    align-items: center;
}

.login-button button {
    border: none;
    background-color: yellow;
    padding: 0.4rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s;
}

.login-button button:hover {
    background: #767e9df1;
}

.login-button button a {
    text-decoration: none;
    font-weight: 500;
    color: black;
}

.form-header h1::after {
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: black;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

.input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;

}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}

.input-box input {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px white;
    font-size: 12pt;
    transition: .3s;
}

.input-box input:hover {
    background: #767e9df1;
}

.input-box input:focus-visible {
    outline: 1px solid black;
}

.input-box label,
.gender-title h6 {
    font-size: 12pt;
    font-weight: 600;
    color: white;
}

.input-box>input {
    background: rgb(217, 217, 166);
}


.input-box input::placeholder {
    color: white;
}

.gender-group {
    display: flex;
    justify-content: space-between;
    margin-top: 0.62rem;
    padding: 0 .5rem;
}

.gender-input {
    display: flex;
    align-items: center;
}

.gender-input input {
    margin-right: 0.35rem;
}

.gender-input label {
    font-size: 0.81rem;
    font-weight: 600;
    color: red;
}

.continue-button button {
    width: 100%;
    border: none;
    background-color: yellow;
    padding: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s;
}

.continue-button button:hover {
    background: #767e9df1;
}

.continue-button button a {
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 500;
    color: black;
}

@media screen and (max-width: 1330px) {
    .form-image {
        display: none;
    }

    .container {
        width: 50%;
    }

    .form {
        width: 100%;
    }
}

@media screen and (max-width: 1064px) {
    .container {
        width: 90%;
        height: auto;
    }

    .input-group {
        flex-direction: column;
        z-index: 5;
        padding-right: 5rem;
        max-height: 10rem;
        overflow-y: scroll;
        flex-wrap: nowrap;
    }

    .gender-inputs {
        margin-top: 2rem;
    }

    .gender-group {
        flex-direction: column;
    }

    .gender-title h6 {
        margin: 0;
    }

    .gender-input {
        margin-top: 0.5rem;
    }
}