@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100&display=swap');

body {
    width: 100%;
    height: 100%;
    background: rgb(233, 233, 89);
}



.a {
    padding: 1.125rem 0;
    background: rgb(233, 233, 89);
}
.b {
    margin-top: .1875rem;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.c {
    margin: 0;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.5rem;
    text-transform: capitalize;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-1 {
    width: 100%;
    background-color: black;
    height: 100px;
}

.menu-2 {
    width: 100%;
    background: rgb(233, 233, 89);

    height: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}



a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    text-decoration: none;
    color: black;
}

a:active {
    color: black;
}

.logo {
    margin-top: 8px;
    float: left;
    height: 0;

}

.redes-sociais ul li {
    display: inline-block;
    width: 1%;
    padding: 30px;
    float: right;
}

.main-dados {
    width: 100vw;
    background: rgb(233, 233, 89);
    display: flex;
    justify-content: center;
    align-items: center;
}


.textfield {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items:start;
    justify-content: center;
    margin: 10px 0px;
}

.textfield>label {
    background: rgb(233, 233, 89);
    margin-bottom: 20px;
}



.right-dados {
    width: 80%;
    height: 80%;
    
    display: flex;
    align-items: center;
}

.card-dados {
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    padding: 30px 35px;
    background: black;
    border-radius: 20px;
    box-shadow: 0px 10px 40px white;
}

.card-dados>h1 {
    background: rgb(233, 233, 89);
    font-weight: 800;
    margin: 0;
    float: left;

}


@media only screen and (max-width: 600px) {
    .main-dados {
        flex-direction: column;
    }
    .right-dados {
        width: 100%;
    }
    .card-dados {
        width: 100%;
    }
}







