@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100&display=swap');

body {
    width: 100%;
    height: 100%;
    background: rgb(245, 255, 53);
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}
header{
    width: 100vw;
    height: 15%;
    margin-top:-1.5%;
}
main{
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
}
.b {
    margin-top: 2%;
    color: #000000;
}
.c {
    margin: 0;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.5rem;
    text-transform: capitalize;
    color: #000000;
    text-transform: uppercase;
    font-weight: 700;
}

.menu-1 {
    width: 100%;
    height: 50%;
    background-color: black;
    height: 100px;
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    text-decoration: none;
    color: black;
}

a:active {
    color: black;
}

.logo {
    margin-top: 8px;
    float: left;
    height: 0;
    margin-left: 2%;

}

.redes-sociais ul li {
    display: inline-block;
    width: 1%;
    padding: 30px;
    float: right;
}

.main-dados {
    width: 50%;
    background: rgb(233, 233, 89);
    align-items: center;
    text-align: center;
    background-color: #000000;
    color: white;
    flex-direction: column;
    border-radius: 20px;
    margin-top: 3.5%;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.579);

}


.main-dados input{
    margin: 2%;
    border-radius: 10px;
    margin-top: -5%;
    
    position: center;
    text-indent: 20px;
    font-size: 16px;
}
.main-dados strong{
    font-weight: 100;
}
.labelcpf {
    display: none;
}
.configlabel{
    font-size: 18px;
    flex-direction: row;
    display: flex;
    align-items: last baseline;
    text-align: center; 
    justify-content: center;
    height: 40px;
    margin: 7% 5%;
    
}
#nome{
    margin-left: 5%;
}
.btn-login{
    background-color: rgb(233, 233, 89);
    font-weight: 600;
    color: #000000;
    font-size: 15px;
    width: 45%;
    height: 50px;
    margin-bottom: 7%;
    border-radius: 9px;
    box-shadow: none;
}
.btn-login:hover {
    background: rgba(126, 126, 126, 0.76);
    color: white;

}
.configlabel>input {
    width: 100%;
    border: none;
    border-radius: 10px;
    display: flex;
    padding: 10px;
    background: rgba(217, 217, 166, 0.697);
    color: black;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
}

.configlabel>input:hover {
    
    background: rgba(126, 126, 126, 0.76)
}

.configlabel>label {
    
    color: #f0ffffde;
    margin-bottom: 10px;
}

.configlabel>input::placeholder {
    
    color: #f0ffff94;
}

@media only screen and (max-width: 600px) {
    .main-dados {
        flex-direction: column;
    }
    .right-dados {
        width: 100%;
    }
    .card-dados {
        width: 100%;
    }
}







